div#message
{
	display: none;
	position: absolute;
	z-index: 1;
	overflow-y: hidden;
	background-color: rgb( 0 ,36 ,45 );
	top: 3vh;
	width: 82vh;
	height: 29vh;
	margin-left: 5vh;
	border: 1vh solid gray;
	border-top: none;
	animation: afficher_message 0.3s linear 0s 1 normal none;
}
div#message div.une_seule_ligne
{
	display: flex;
	flex-direction: row;
}
div#message div#message_titre
{
	text-shadow: 0vh 0vh 1vh rgb( 150 ,150 ,150 );
	font-size: 0.8em;
	margin: 0 auto;
}
div#message div#message_fermer
{
	cursor: pointer;
	text-align: center;
	background-color: #000;
	width: 5vh;
	height: 5vh;
	margin: 1vh 1vh 0 0;
	line-height: 3.6vh;
	border: 0.5vh solid gray;
	border-radius: 1vh;
}
div#message div#message_fermer:hover
{
	background-color: rgb( 0 ,36 ,45 );
}
div#message div#message_contenu
{
	font-size: 0.7em;
	overflow-x: auto;
	height: 21.8vh;
}


@keyframes afficher_message
{
	0%  { height: 0; }
	100%{ height: 29vh; }
}


@media (orientation: portrait)
{
	div#message
	{
		top: 3vw;
		width: 82vw;
		height: 29vw;
		margin-left: 5vw;
		border: 1vw solid gray;
		border-top: none;
	}
	div#message div#message_titre
	{
		text-shadow: 0vh 0vh 1vw rgb( 150 ,150 ,150 );
	}
	div#message div#message_fermer
	{
		width: 5vw;
		height: 5vw;
		margin: 1vw 1vw 0 0;
		line-height: 3.6vw;
		border: 0.5vw solid gray;
		border-radius: 1vw;
	}
	div#message div#message_contenu
	{
		height: 21.8vw;
	}


	@keyframes afficher_message
	{
		0%  { height: 0; }
		100%{ height: 29vw; }
	}
}