@font-face
{
	font-family: 'Titre';
	src: url( '../../../font/RussoOne-Regular.ttf' );
}
@font-face
{
	font-family: 'Sous-Titre';
	src: url( '../../../font/PatrickHand-Regular.ttf' );
}

nav#menu
{
	height: 100%;
	width: 100%;
}

nav#menu h1#menu_titre
{
	font-family: 'Titre';
	text-align: center;
	font-size: 1.5em;
	margin: 0;
	padding: 1vh 0;
}

nav#menu ul
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 75vh;
}

nav#menu ul li
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Sous-Titre';
	width: 60vh;
	height: 3em;
	padding-left: 34vh;
}

nav#menu ul li:hover
{
	background-color: gray;
	cursor: pointer;
}

nav#menu ul li.non_hover:hover
{
	background-color: unset;
	cursor: default;
}

nav#menu p#menu_bienvenue
{
	opacity: 0;
	margin: 0;
	text-align: center;
	position: relative;
	top: -58vh;
	z-index: -1;
}

nav.commencement h1#menu_titre
,nav.commencement ul
{
	animation: commencement_fondu_menu 7s linear 0s 1 normal none;
}
nav.commencement h1#menu_titre
{
	animation: commencement_cacher_fondu_titre 7s linear 0s 1 normal none;
}
nav.commencement p#menu_bienvenue
{
	animation: commencement_bienvenue 6s linear 0s 1 normal none;
}


@keyframes commencement_fondu_menu
{
	0%  { opacity: 0; }
	90% { opacity: 0; }
	100%{ opacity: 1; }
}
@keyframes commencement_cacher_fondu_titre
{
	0%
	{
		opacity: 0;
		margin-top: -110vh;
	}
	89%{ margin-top: -110vh; }
	90%
	{
		opacity: 0;
		margin-top: 0;
	}
	100%{ opacity: 1; }
}
@keyframes commencement_bienvenue
{
	0%
	{
		opacity: 1;
		font-size: 0em;
		z-index: 0;
		margin-top: 110vh;
	}
	30%{ font-size: 1em; }
	90%{ opacity: 1; }
	100%
	{
		opacity: 0;
		font-size: 1em;
		z-index: 0;
		margin-top: 110vh;
	}
}



@media (orientation: portrait)
{
	nav#menu h1#menu_titre
	{
		padding: 1vw 0;
	}

	nav#menu ul
	{
		height: 75vw;
	}

	nav#menu ul li
	{
		width: 60vw;
		padding-left: 34vw;
	}

	nav#menu p#menu_bienvenue
	{
		top: -58vw;
	}

	@keyframes commencement_cacher_fondu_titre
	{
		0%
		{
			opacity: 0;
			margin-top: -110vw;
		}
		89%{ margin-top: -110vw; }
		90%
		{
			opacity: 0;
			margin-top: 0;
		}
		100%{ opacity: 1; }
	}
	@keyframes commencement_bienvenue
	{
		0%
		{
			opacity: 1;
			font-size: 0em;
			z-index: 0;
			margin-top: 110vw;
		}
		30%{ font-size: 1em; }
		90%{ opacity: 1; }
		100%
		{
			opacity: 0;
			font-size: 1em;
			z-index: 0;
			margin-top: 110vw;
		}
	}
}