@font-face
{
	font-family: 'General';
	src: url( '../font/AllertaStencil-Regular.ttf' );
}

::selection
{
	background-color: gray;
}

.inselectionnable
{
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.selection_invisible *::selection
{
	background-color: rgba( 0 ,0 ,0 ,0 );
}

.cacher
{
	display: none !important;
}

html
{
	background-color: black;
	color: white;
	font-family: 'General';
	font-size: 6vh;
}

body
{
	overflow: hidden;
	margin: 0 auto;
	border: 3vh double gray;
	border-radius: 10vh;
	height: 94vh;
	width: 94vh;
}

main
{
	height: 100%;
	width: 100%;
}

.erreur_couleur
{
	color: red;
}

@media (orientation: portrait)
{
	html
	{
		font-size: 6vw;
	}

	body
	{
		border: 3vw double gray;
		border-radius: 10vw;
		height: 94vw;
		width: 94vw;
	}
}